@charset "utf-8";

body {
  background-image: linear-gradient(90deg, #6ef1f1, #ff99ff, #333333);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("./imagines/Khazix_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-image: linear-gradient(90deg, #6ef1f1, #ff99ff, #333333);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px;
  color: rgb(201, 198, 240);
  font-size: 15px;
  font-weight: 7000;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 22px;
}

.active {
  font-weight: bold;
  color: #fff;
}

.text-container p:nth-child(1) {
  font-weight: bold;
  color: rgba(255, 255, 255, .8);
  font-size: 30px;
  margin-bottom: 4.0rem;
}

.text-container p:nth-child(2) {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  font-size: 5rem;
}

.text-container p:nth-child(3) {
  color: rgba(255, 255, 255, .8);
  font-size: 30px;
  line-height: 1.5rem;
  line-height: 2rem;
}

.text-container p {
  line-height: 0px;
  margin: 45px 0px 25px;
}

.text-container {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}

.text-container button {
  font-weight: bold;
  outline: none;
  font-size: 16px;
  padding: .6rem 1.5rem;
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  border: 2px solid #c67fc7;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);
  border-radius: 0;
}

.down-cv {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

button:active {
  transform: scale(1.1);
}

.about-container {
  width: 80%;
  height: 330px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 30px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -10% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.about-container img {
  height: 250px;
}

.about-text {
  width: 550px;
}

.about-text p:nth-child(1) {
  color: #d5d5da;
  font-weight: bold;
  font-size: 30px;
  line-height: 0px;
}

.about-text p:nth-child(2) {
  color: #d577e7;
  font-size: 13px;
  font-weight: bold;
  line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
  color: #ffffff;
  font-size: 16px;
}

.about-text button {
  font-size: 1.1rem;
  height: 40px;
  padding: 0 1.5rem;
  color: #ffffff;
  outline: none;
  border: none;
  background-color: #262525;
  white-space: nowrap;
  border: 1px solid #fff;
}

.about-text button:hover {
  background-color: #fff;
  color: #262525;
  transition: 0.5s;
}

.services {
  height: 600px;
  background-color: #f180f5;
  padding: 2% 10% 0px 10%;
}

.services-text p:nth-child(1) {
  font-weight: bold;
  color: #3e3d3d;
  font-size: 30px;
  line-height: 0px;
}

.services-text p:nth-child(2) {
  font-weight: bold;
  color: #3e3e3d;
  line-height: 5px;
}

.services-text p:nth-child(3) {
  color: #0c0c0c;
}

.services-text {
  width: 500px;
  margin: 50px 0px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-container {
  display: flex;
  justify-content: space-between;
}

.box-container button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.box-1 {
  background-image: url(./imagines/Mecha\ Khazix.jpg);
}

.box-2 {
  background-image: url(./imagines/Mecha\ Khazix.jpg);
}

.box-3 {
  background-image: url(./imagines/Mecha\ Khazix.jpg);
}
.box-4 {
  background-image: url(./imagines/Mecha\ Khazix.jpg);
}
.box-5 {
  background-image: url(./imagines/Mecha\ Khazix.jpg);
}

.box-1 span,
.box-2 span,
.box-3 span,
.box-4 span,
.box-5 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2),
.box-4 p:nth-child(2),
.box-5 p:nth-child(2) {
  color: #ffffff;
  font-family: calibri;
  font-size: 23px;
  line-height: 0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3),
.box-4 p:nth-child(3),
.box-5 p:nth-child(3) {
  font-family: calibri;
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
  color: rgba(255, 255, 255, 0.8);
}

.box-1 button,
.box-2 button,
.box-3 button,
.box-4 button,
.box-5 button {
  padding: 0.7rem 1.2rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact-me {
  width: 100%;
  height: 280px;
  background-image: url(./imagines/project\ in\ your\ mind.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me p {
  color: #ffffff;
  font-size: 30px;
  font-family: calibri;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}
.contact-me button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p {
  font-family: calibri;
}
footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 16px;
  color: #f80404;
  width: 600px;
  text-align: center;
}
.social-icon a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icon {
  display: flex;
}
.copy-right {
  color: #565555;
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.social-icon i {
  color: #000000;
}
.social-icon a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icon a:hover i {
  color: #ffffff;
}

/* responsive  */
@media only screen and (max-width: 1218px) {
  .services {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-me {
    margin-top: 10px;
  }
}

/* The Modal (background) */
.modal {
  align-items: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  order: 1;
}

/* The Close Button */
.close,
.close1,
.close2,
.close3,
.close4,
.close5 {
  color: #fff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0 0.8rem;
  margin: 0;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

.modal1,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  /* height: 100%; */ /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  width: 50%;
  /* height: 50%; */
  top: 25%;
  left: 50%;
  padding: 5rem;
  transform: translate(-50%, -50%);
}

mark {
  color: #fff;
  background-color: transparent;
}


.text-container button:hover {
    background-color: #c67fc7;
    transition: .5s;
}